@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Poppins:wght@400;500&display=swap');

:root {
  --gray1: #333;
  --gray2: #4f4f4f;
  --gray3: #828282;
  --gray4: #bdbdbd;
  --gray5: #e0e0e0;
  --gray6: #f2f2f2;
  --blue1: #100E1D;
  --blue2: #2D9CDB;
  --red1: #EB5757;
  --green1: #27AE60;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: var(--gray1);
}

html,
body {
  min-height: 100dvh;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 6rem;
}

.logo {
  font-size: 2.3rem;
  font-weight: 800;
  font-family: 'Heebo', sans-serif;
}

.main-header .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.main-header .menu a {
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
}

.home {
  padding: 2rem 6rem;
}

.home__call-to-action {
  max-width: 36rem;
  margin-left: 10rem;
}

.home__call-to-action p {
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--blue2);
}

.home__call-to-action h1 {
  font-size: 3rem;
  font-weight: 500;
}

.home__image {
  height: 22rem;
  border-radius: 1rem;
  background-color: var(--gray4);
  overflow: hidden;
  margin: 2rem 0;
}

.home__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home__join-us {
  max-width: 23rem;
  margin-left: 10rem;
}

.home__join-us h2 {
  font-size: 3rem;
  font-weight: 500;
}

.home__join-us p {
  margin: 1.5rem 0;
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--gray2);
}

.contact-us {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.contact-us__label {
  font-size: .9rem;
  font-weight: 500;
  color: var(--gray3);
}

.contact-us__input-group {
  height: 4rem;
  padding: .4rem;
  border-radius: .8rem;
  background-color: var(--gray6);
}

.contact-us__input-group input {
  padding: .2rem 0 .2rem .6rem;
  background: none;
  border: none;
  outline: none;
  font-size: 1.1rem;
  font-weight: 500;
}

.contact-us__input-group button {
  background-color: var(--blue2);
  border: none;
  border-radius: .8rem;
  height: 100%;
  width: 6rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--gray6);
  cursor: pointer;
}

.services {
  padding: 4rem 6rem;
}

.services__title {
  width: 21.6rem;
  font-size: 2.3rem;
  font-weight: 500;
}

.cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 21rem;
  height: 26rem;
  border-radius: 1.5rem;
  padding: 1.5rem;
}

.card:hover {
  box-shadow: 0 10px 30px 0 var(--gray4);
}

.card__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 1rem;
  background-color: var(--gray4);
}

.card__icon.card__icon--red {
  background-color: var(--red1);
}

.card__icon.card__icon--green {
  background-color: var(--green1);
}

.card__icon.card__icon--blue {
  background-color: var(--blue2);
}

.card__icon > :first-child {
  font-size: 2rem;
  color: #fff;
}

.card__title {
  font-size: 1.5rem;
  font-weight: 700;
}

.card__description {
  font-size: 1rem;
  color: var(--gray2);
}

.card__button {
  width: 7.3rem;
  height: 3.2rem;
  border-radius: .8rem;
  background-color: var(--gray5);
  font-size: 1rem;
  font-weight: 500;
  color: var(--gray3);
  border: none;
  cursor: pointer;
}

.card__button:hover {
  background-color: var(--blue2);
  color: #FFF;
}

.business {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 2rem 6rem;
}

.business__title {
  width: 28rem;
  font-size: 2.3rem;
  font-weight: 500;
}

.business__main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.business__main-content > :nth-child(odd) {
  margin-top: 10rem;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 34rem;
  min-height: 40rem;
}

.project__image {
  width: 100%;
  height: 34rem;
  border-radius: 1.5rem;
  overflow: hidden;
}

.project__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project__type {
  margin: .8rem 0;
  font-size: .9rem;
  font-weight: 300;
  color: var(--gray3);
}

.project__name {
  font-size: 1.5rem;
  font-weight: 500;
}

.business__see-more {
  align-self: flex-end;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--blue2);
  user-select: none;
  cursor: pointer;
}

.business__see-more:hover {
  color: #7dbee4;
}

.business__see-more > :first-child {
  margin-left: .8rem;
  font-size: 1rem;
  color: inherit;
}

.team {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  min-height: 100dvh;
  padding: 2rem 6rem;
}

.team__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.1rem;
  width: 18rem;
}

.team__info__action {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--red1);
}

.team__info__title {
  font-size: 2.3rem;
  font-weight: 500;
}

.team__info__description {
  font-size: 1rem;
  font-weight: 400;
  color: var(--gray2);
}

.team__gallery {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 40rem;
  height: 100%;
}

.team__gallery figure {
  background-color: var(--gray5);
  border-radius: 1.5rem;
  overflow: hidden;
}

.team__gallery figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team__gallery > figure:first-child {
  place-self: center;
  width: 100%;
  max-width: 20rem;
  height: 20rem;
}

.team__gallery .wrapper {
  display: grid;
  gap: 1rem;
  height: 100%;
}

.team__gallery .wrapper figure:nth-child(1) {
  max-width: 16rem;
  height: 16rem;
}

.team__gallery .wrapper figure:nth-child(2) {
  max-width: 18rem;
  height: 18rem;
}

.clients {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  padding: 4rem 6rem;
}

.clients__review {
  width: 60rem;
  font-size: 2.3rem;
  font-weight: 500;
}

.client {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.client__avatar {
  width: 5rem;
  height: 5rem;
  border-radius: .8rem;
  background-color: var(--gray5);
  overflow: hidden;
}

.client__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.client__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.client__info__name {
  font-size: 1.5rem;
  font-weight: 500;
}

.client__info__other {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--gray3);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 6rem;
  background-color: var(--blue1);
}

.footer .container {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2rem 0;
}

.vertical-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: .8rem;
  color: var(--gray6);
}

.vertical-menu a {
  color: inherit;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 400;
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.socials__name {
  font-size: 2.3rem;
  font-weight: 800;
  color: var(--gray6);
}

.socials__icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1.8rem;
}

.socials__icons > * {
  color: var(--gray6);
  cursor: pointer;
}

.socials__icons > *:hover {
  color: var(--gray4);
  transform: scale(120%);
}

.credits {
  font-size: .8rem;
  color: var(--gray6);
}

.credits a {
  color: inherit;
  text-decoration: none;
  font-weight: 800;
}
